.w-users-userformpagewrap {
  height: 100vh;
  max-width: 340px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.w-users-userformheader {
  text-align: center;
}

.w-users-userloginformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-userformbutton {
  width: 100%;
  text-align: center;
}

.w-users-userformfooter {
  justify-content: space-between;
  margin-top: 12px;
  display: flex;
}

.w-users-userformerrorstate {
  margin-left: 20px;
  margin-right: 20px;
  position: absolute;
  top: 100%;
  left: 0%;
  right: 0%;
}

.w-users-userresetpasswordformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-userformsuccessstate {
  display: none;
}

.w-users-usersignupformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-users-usersignupverificationmessage {
  display: none;
}

.w-users-userupdatepasswordformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-useraccountwrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
}

.w-users-blockheader {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  justify-content: space-between;
  align-items: baseline;
  padding: 4px 20px;
  display: flex;
}

.w-users-blockcontent {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  margin-bottom: 20px;
  padding: 20px;
}

.w-users-useraccountformsavebutton {
  text-align: center;
  margin-right: 8px;
}

.w-users-useraccountformcancelbutton {
  text-align: center;
  color: #333;
  background-color: #d3d3d3;
}

.text-field {
  width: 200px;
  padding-left: 0;
  padding-right: 537px;
}

.text-field-2 {
  width: 300px;
}

.heading {
  text-align: left;
  object-fit: fill;
  margin-left: 9px;
  font-size: 15px;
  position: relative;
  top: -155px;
  bottom: 165px;
  left: 31px;
}

.text-field-3 {
  width: 300px;
  text-align: left;
  border-radius: 15px;
  position: relative;
  left: 220px;
}

.text-field-4 {
  width: 300px;
  border-radius: 13px;
  position: relative;
  left: 220px;
}

.body {
  text-align: center;
  -webkit-text-fill-color: inherit;
  background-color: #fff;
  background-image: url('../images/Untitled-1.jpeg');
  background-position: 0 0;
  background-size: cover;
  background-attachment: fixed;
  background-clip: border-box;
}

.form {
  text-align: left;
  border-radius: 0;
  position: relative;
  top: 54px;
  bottom: -155px;
  left: -181px;
}

.submit-button {
  position: relative;
  bottom: -20px;
  left: 220px;
  right: -219px;
}

.image {
  padding-bottom: 0;
  position: relative;
  top: 7px;
  bottom: -285px;
  left: -87px;
  right: 36px;
}

.div-block {
  width: 400px;
  height: 350px;
  background-color: #fff;
  border-radius: 0;
  margin-top: 84px;
  margin-bottom: 31px;
  padding-right: 0;
  position: relative;
  bottom: -190px;
  left: 273px;
  right: -73px;
  box-shadow: 1px 0 5px rgba(0, 0, 0, .2);
}

.div-block-2 {
  position: relative;
  bottom: -127px;
  left: 385px;
}

.image-2 {
  position: relative;
  top: 108px;
  bottom: -116px;
  left: 93px;
}

.subscript {
  left: -165px;
}

.form-block {
  position: relative;
  bottom: -9px;
}

.container-2 {
  height: 300px;
  max-width: 400px;
  outline-offset: 0px;
  background-color: #fff;
  outline: .5px #333;
  position: relative;
  top: 231px;
  bottom: -90px;
  box-shadow: 2px -1px 5px rgba(0, 0, 0, .2);
}

.bold-text {
  position: static;
}

.button {
  border-radius: 3px;
  position: relative;
  bottom: -54px;
  left: 156px;
}

.body-2 {
  background-image: url('../images/image.png');
  background-position: 0 0;
  background-size: cover;
}

@media screen and (max-width: 479px) {
  .heading {
    left: 14px;
  }

  .body {
    background-position: 0 0;
    background-size: contain;
    margin-left: -3px;
  }

  .form {
    top: 40px;
    left: -204px;
  }

  .image {
    margin-right: -94px;
    position: relative;
    left: -113px;
    right: 333px;
  }

  .div-block {
    width: 350px;
  }

  .div-block-2 {
    left: -61px;
  }

  .image-2 {
    top: 216px;
    bottom: -171px;
    left: -177px;
    right: 144px;
  }

  .subscript {
    bottom: -104.625px;
    right: -20px;
  }

  .container {
    position: relative;
    left: -225px;
  }
}
