.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.div-block {
  width: 400px;
  height: 300px;
  outline-offset: 0px;
  outline: 1px solid #333;
  position: relative;
  bottom: -209px;
  left: 421px;
}

.image {
  position: relative;
  top: 2px;
  left: 120px;
}

.form-block {
  width: 350px;
  position: relative;
  bottom: -41px;
  left: 23px;
}

.submit-button {
  outline-offset: 0px;
  color: #000;
  background-color: #cfd6dd;
  outline: 3px solid #000;
  font-weight: 700;
  position: relative;
  top: -5px;
  bottom: -8px;
  left: 273px;
  right: -296px;
}

.text-field {
  border-radius: 7px;
}

.text-field-2 {
  border-radius: 8px;
}
